<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml/DTD/xhtml1-transtional.dtd">
<html>
  <head>
      <title><%= title %> - Microblog</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
      <style type = "text/css">
          body {
              padding-top: 60px;
              padding-bottom: 40px;
          }
      </style>
      <link rel="stylesheet" href="stylesheet/bootstrap-responsive.css" />
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Microblog</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home Page</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/reg">Sign Up</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="container" class="container">
        <%- body%>
        <hr />
        <footer>
            <p><a href="http://palmchou.me/" target="_blank">Palm Chou</a>2014</p>
        </footer>
    </div>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>